#main-body {
  font-family: Helvetica;
  /*background-color: #afddd7;*/
  background-color: #93c6c6;
}

/******************/
/* General layout */
/******************/

.main-container {
  /*position: absolute;*/
  /*top: 15px;*/
  /*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
  /*left: 320px;*/
  /*border: 1px ;*/
  /*border-radius: 3px;*/
  width: 100%;
  text-align: center;
  margin: 10px 0 70px 0;
  grid-column: 2 / 3;
}

#console-container {
  width: 100%;
}

.controller-container {
  text-align: center;
  /*left: 0;*/
  /*margin: auto;*/
  /*margin-top: -100px;*/
  position: absolute;
  /*top: 20%;*/
  /*background-color: white;*/
  /*width: 100%;*/
}

.umbrella-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 0 0;
}

/*********************/
/* Console window */
/*********************/

.console-grid {
  background-color: white;
  /*margin: 10px auto;*/
  /*padding: 10px;*/
  border-radius: 3px;
  /*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
  /*float: left;*/
  /*width: 46%;*/
  /*border: 1px solid #c1c1c1;*/
}

.console-grid-container {
  display: grid;
  grid-template-columns: auto 33%;
  grid-gap: 2rem;
  margin: 0 10rem;
  /* width: 95%; */
}

.console-grid-element {
  padding: 5px;
  width: 100%;
  background: white;
  min-width: 0;
  /*border: 1px solid #c1c1c1;*/
  border-radius: 3px;
  /*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
}

.console-grid-element h3 {
  text-align: left;
  padding-bottom: 5px;
  margin: 10px;
  border-bottom: 1px solid #ececec;
}

#console-grid-message-select {
  grid-column: 1 / 2;
  grid-row: 1;
}

#console-grid-image-select {
  grid-column: 2 / 3;
  grid-row: 1;
}

#console-grid-enter-message {
  grid-column: 1 / 3;
  grid-row: 2;
}

#grid-3-1 {
  grid-column: 1 / 3;
  grid-row: 3;
}

#grid-4-1 {
  grid-column: 1 / 3;
  grid-row: 4;
}

.format-button {
  margin-right: 10px;
  height: 27px;
  /*width: 50px;*/
  min-width: 50px;
  font-size: 15px;
  border: 1px solid;
  /*display: inline*/
  border-radius: 4px;
}

.format-button:hover {
  cursor: pointer;
}

.format-button[disabled]:hover {
  cursor: default;
}

.timer-button:hover {
  cursor: pointer;
  background-color: #eaeaea;
}

.export-button {
  vertical-align: middle;
}

.export-button img {
  display: inline-block;
  height: 23px;
  vertical-align: middle;
  width: 23px;
}

#text-input {
  width: 80%;
}

#preview-box {
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  height: 40px;
}

#select-image {
  /*padding: 5px*/
  width: 90%;
}

#select-preloaded-messages {
  /*padding: 5px*/
  width: 90%;
}

#update-form input {
  /*width: 85%;*/
  padding: 7px;
  border-radius: 5px;
  margin: 15px;
}

#update-form button {
  margin: 7px;
  padding: 3px;
}

/****************/
/* Setup window */
/****************/

.setup-grid-container {
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: 100%;
  width: 95%;
}

.setup-grid-element {
  /*border: 1px solid #c1c1c1;*/
  background-color: white;
  /*min-width: ;*/
  padding: 10px;
  border-radius: 3px;
  /*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
  /*width: 95%;*/
  /*margin: 15px auto;*/
  grid-column: 1 / 3;
}

.setup-grid-element select {
  padding: 5px;
}

.setup-grid-element h3 {
  text-align: left;
  padding-bottom: 5px;
  margin: 10px;
  border-bottom: 1px solid #ececec;
}

.quick-description {
  text-align: left;
}

.setup-grid-element textarea {
  width: 97%;
  padding: 1%;
  margin: 1% 0px;
}

.setup-grid-element table {
  margin: auto;
  width: 40%;
}

.setup-grid-element td {
  text-align: left;
  border: none;
  padding: 3px;
}

#new-messages-input-grid-elem {
  grid-row: 1;
}

#new-images-input-grid-elem {
  grid-row: 2;
}

#new-format-input-grid-elem {
  grid-row: 3;
}

/**************************/
/* Text in display window */
/**************************/

.display-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#display-body {
  background-color: #000000;
  font-family: Georgia;
  height: 100%;
  width: 100%;
  cursor: none;
}

#text-here {
  color: #ffffff;
  font-size: 70px;
  position: absolute;
  text-align: center;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-cursor {
  height: 100%;
  width: 100%;
  cursor: none;
}

/***************************/
/* Image in display window */
/***************************/

.image-container {
  max-width: 700px;
  max-height: 500px;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  max-height: 500px;
}

.input-container {
  top: 10px;
  padding: 10px;
}

/***********/
/* Sidenav */
/***********/

.sidenav {
  grid-column: 1 / 2;
  position: fixed;
  height: 100%;
  width: 18%;
  /*max-width: 300px;*/
  /*min-width: 256px;*/
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  /*margin-left: 20px;*/
  padding: 8px 8px 8px 52px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  width: 100%;
  display: block;
  transition: 0.3s;
}

.sidenav a.active {
  background-color: #005757;
  color: #f1f1f1;
}

.sidenav a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidenav input {
  padding: 5px;
  width: 80%;
}

.sidenav .no-network {
  font-size: 18px;
}

#display-iframe {
  width: 1280px;
  height: 756px;
  transform: scale(0.2);
  transform-origin: 0 0;
}

#display-wrapper {
  width: 256px;
  display: absolute;
  bottom: 5px;
  height: 151px;
  margin: auto;
  margin-top: 40px;
  border: 1px white solid;
  overflow: hidden;
}

#timer {
  padding-top: 10px;
  font-size: 27px;
  color: #f1f1f1;
  text-align: center;
  margin: auto;
}

.timer-button {
  margin-right: 10px;
  height: 36px;
  width: 70px;
  font-size: 20px;
  border: 1px solid;
  /*display: inline*/
  border-radius: 4px;
}

.timer-button:hover {
  cursor: pointer;
  background-color: #eaeaea;
}

.url-container {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 20px;
}

#start-button {
  color: #0c7a0b;
  border-color: #0c7a0b;
}

#stop-button {
  color: #7a0b0b;
  border-color: #7a0b0b;
}

#static-input {
  padding-top: 50%;
  font-size: 25px;
  color: #f1f1f1;
  text-align: center;
  margin: auto;
}

/*********/
/* Other */
/*********/

select {
  margin: 5px 0;
  border: solid 1px grey;
  border-radius: 5px;
}

textarea {
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px grey;
  border-radius: 5px;
  height: 150px;
}

ul {
  list-style: none;
}

table {
  width: 100%;
  table-layout: fixed;
}

th {
  padding: 10px;
  border: solid grey 1px;
}

td {
  border: solid grey 1px;
  padding: 15px;
}

#font-size-num {
  width: 40px;
}

.notification-container {
  background-color: #c07777;
  width: 250px;
  margin: 10px auto;
  border: solid 1px #512727;
}

.notification-container button {
  display: inline;
  margin: 5px 15px;
}

.success-text {
  color: black;
}
