<div class="notification-container" id="notif-container" hidden>
    <span id="notif-span">{{ notification }}</span>
    <button onclick="this.parentNode.setAttribute('hidden', '')">Close</button>
</div>

<div class="console-grid-container">
    <div class="console-grid-element" id="console-grid-message-select">
        <h3>Select message</h3>
        <select size="10" onkeyup="sendTextIfEnter(event, this);" id="select-preloaded-messages"></select>
    </div>

    <div class="console-grid-element" id="console-grid-image-select">
        <h3>Select image</h3>
        <form id="update-img-form" hidden>
            <input type="text" id="image-input">
            <button type="submit" id="submit-image"></button>
        </form>
        <select size="10" id="select-image" onkeyup="sendImageIfEnter(event, this);">
            {% for image_name in image_names %}
                <option ondblclick="sendUpdate(this.innerText, 'image');">
                        {{ image_name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="console-grid-element" id="console-grid-enter-message">
        <h3>Type message</h3>
        <button class="format-button" onclick="appendPrepend('b'); triggerCopyToPreview();"><b>B</b></button>
        <button class="format-button" onclick="appendPrepend('u'); triggerCopyToPreview();"><u>U</u></button>
        <button class="format-button" onclick="appendPrepend('i'); triggerCopyToPreview();"><i>I</i></button>
        <button class="format-button" onclick="appendPrepend('text', 'style=color:red;'); triggerCopyToPreview();" style="color:red;">Red</button>
        <button class="format-button" onclick="appendPrepend('text', 'style=color:blue;'); triggerCopyToPreview();" style="color:blue;">Blue</button>
        <button class="format-button" onclick="appendPrepend('text', 'style=color:green;'); triggerCopyToPreview();" style="color:green;">Green</button>
        <button class="format-button" id="custom-colour-button" onclick="appendPrepend('text', 'style=color:' + this.value + ';'); triggerCopyToPreview();" disabled>Custom</button>
        <input id="console_font_colour">
        <form id="update-form">
            <input type="text" id="text-input" placeholder="Message" onkeyup="copyToPreview(this.value)">
            <button type="submit" id="submit-text">Update</button>
        </form>
        <div id="preview-box">
            <span id="preview-text"><i><span style="color:#707070;">Preview...</span></i></span>
        </div>
    </div>

    <div class="console-grid-element" id="grid-3-1">
        <form id="export-form">
            <input type="text" id="daytimes-textbox" name="daytimes" hidden>
            <input type="text" id="reltimes-textbox" name="reltimes" hidden>
            <input type="text" id="types-textbox" name="types" hidden>
            <input type="text" id="messages-textbox" name="messages" hidden>
            <input type="text" id="filetype-textbox" name="filetype" hidden>
            <h3>Export message log</h3>
            <button class="export-button" onclick="document.getElementById('filetype-textbox').value = 'csv';" type="submit">
                <img src="{{ url_for('static', filename='img/csv-logo.png') }}">
                Export as CSV</button>
            <button class="export-button" onclick="document.getElementById('filetype-textbox').value = 'xls';" type="submit">
                <img src="{{ url_for('static', filename='img/excel-logo.svg') }}">
                Export as XLS</button>
        </form>
        <a target="_blank" id="download-a">
            <button id="download-button" hidden></button>
        </a>
    </div>

    <div class="console-grid-element" id="grid-4-1">
        <table id="input-table">
            <thead>
                <tr>
                    <th hidden>Time of Day</th>
                    <th style="width: 20%">Time After Start</th>
                    <th style="width: 20%">Type</th>
                    <th style="width: 60%">Update</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</div>

<!--     <div class="console-input-container" id="console-grid-message-select">
    <h3>Select message</h3>
    <select size="10" onkeyup="sendTextIfEnter(event, this);" id="select-preloaded-messages">
    </select>
</div>

<div class="console-input-container" id="console-grid-image-select">
    <h3>Select image</h3>
    <form id="update-img-form" hidden>
        <input type="text" id="image-input">
        <button type="submit" id="submit-image"></button>
    </form>
    <select size="10" id="select-image" onkeyup="sendImageIfEnter(event, this);">
        {% for image_name in image_names %}
            <option ondblclick="sendUpdate(this.innerText, 'image');">
                    {{ image_name }}
            </option>
        {% endfor %}
    </select>
</div>

<div class="console-input-container full-width-grid" id="console-grid-enter-message">
    <h3>Type message</h3>
    <button class="format-button" onclick="appendPrepend('b'); triggerCopyToPreview();"><b>B</b></button>
    <button class="format-button" onclick="appendPrepend('u'); triggerCopyToPreview();"><u>U</u></button>
    <button class="format-button" onclick="appendPrepend('i'); triggerCopyToPreview();"><i>I</i></button>
    <button class="format-button" onclick="appendPrepend('text', 'style=color:red;'); triggerCopyToPreview();" style="color:red;">Red</button>
    <button class="format-button" onclick="appendPrepend('text', 'style=color:blue;'); triggerCopyToPreview();" style="color:blue;">Blue</button>
    <button class="format-button" onclick="appendPrepend('text', 'style=color:green;'); triggerCopyToPreview();" style="color:green;">Green</button>
    <form id="update-form">
        <input type="text" id="text-input" placeholder="Message" onkeyup="copyToPreview(this.value)">
        <button type="submit" id="submit-text">Update</button>
    </form>
    <div id="preview-box">
        <span id="preview-text"><i><span style="color:#707070;">Preview...</span></i></span>
    </div>
</div>

<div class="console-input-container full-width-grid">
    <form id="export-form">
        <input type="text" id="daytimes-textbox" name="daytimes" hidden>
        <input type="text" id="reltimes-textbox" name="reltimes" hidden>
        <input type="text" id="types-textbox" name="types" hidden>
        <input type="text" id="messages-textbox" name="messages" hidden>
        <input type="text" id="filetype-textbox" name="filetype" hidden>
        <h3>Export message log</h3>
        <button onclick="document.getElementById('filetype-textbox').value = 'csv';" type="submit">Export as CSV</button>
        <button onclick="document.getElementById('filetype-textbox').value = 'xls';" type="submit">Export as XLS</button>
    </form>
    <a target="_blank" id="download-a">
        <button id="download-button" hidden></button>
    </a>
</div>

<div class="console-input-container full-width-grid">
    <table id="input-table">
        <thead>
            <tr>
                <th hidden>Time of Day</th>
                <th>Time After Start</th>
                <th>Type</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
</div> -->
