<!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/spectrum.css') }}">
    <script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/spectrum.js') }}"></script>

</head>

<body onload="try { checkNotification('{{ notification }}') } catch(e) {print(e)};" id="main-body">

    <div class="umbrella-grid">

        <div class="sidenav" id="sidenav">
            <a onclick="sidenavController(this); showContainer('console-container');" class="active">Console</a>
            <a onclick="sidenavController(this); showContainer('setup-container');">Setup</a>
            <div id="static-input">
                <form id="static-input-form">
                    <input type="date" id="date-input">
                    <input type="text" id="session-number-input" placeholder="Session number">
                    <input type="text" id="therapist-id-input" placeholder="Therapist ID">
                </form>
            </div>
            <div id="timer">
                <button class="timer-button" id="start-button" onclick="activateTimer()">Start</button>
                <button class="timer-button" id="reset-button" onclick="resetTimer()">Reset</button>
                <button class="timer-button" id="stop-button" onclick="deactivateTimer()" hidden>Stop</button>
                <button class="timer-button" id="reset-restart-button" onclick="resetTimer(true)" hidden>Reset</button>
                <label id="hours" hidden>0</label><label id="hidden-colon" hidden>:</label><label id="minutes">00</label>:<label id="seconds">00</label>
            </div>
            <div id="display-wrapper">
                <iframe id="display-iframe" src="{{ url_for('display') }}"></iframe>
            </div>
            <div class="url-container">
                {% if urls != [] %}
                <span>Output accessible via:</span>
                {% for url in urls %}
                <span>{{ url }}</span>
                {% endfor %}
                {% else %}
                <span class="no-network">No network access currently possible</span>
                {% endif %}
            </div>
        </div>

        <div class="main-container">
            <div class="main-subcontainer" id="console-container">
                {% include 'console.html' %}
            </div>
            <div class="main-subcontainer" id="setup-container" hidden>
                {% include 'setup.html' %}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='lib/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='controllerScripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='consoleScripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='setupScripts.js') }}"></script>
    <script type="text/javascript">
        fillTable({{ data_dict|tojson }});
    </script>
</body>