<!doctype html>
<head>
    <script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="display-body" class="no-cursor">

    <div class="display-container">
        <span id="text-here"></span>
    </div>

    <div class="image-container">
        <img id="image-here">
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='lib/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='displayScripts.js') }}"></script>
</body>