<div class="setup-grid-container">

    <div class="setup-grid-element" id="new-messages-input-grid-elem">
        <h3>Message templates</h3>
        <p class="quick-description">Enter messages on separate lines, then submit.</p>
        <form id="new-messages-input-form">
            <textarea class="messages-textbox" name="preloaded_msgs" id="preloaded-messages">{{ ''.join(preloaded_msgs) }}</textarea>
            <button type="submit">Submit messages</button>
            <span id="new-messages-success"></span>
        </form>
    </div>

    <div class="setup-grid-element" id="new-images-input-grid-elem">
        <h3>Select images</h3>
        <p class="quick-description">Select multiple images using Ctrl/Strg and Shift/Umschalt, then submit.</p>
        <form id="new-images-input-form" enctype="multipart/form-data" action="javascript:;">
            <input type="file" name="images" id="image-input-elem" multiple />
            <button type="submit">Submit files</button>
            <span id="new-images-success"></span>
        </form>
    </div>

    <div class="setup-grid-element" id="new-format-input-grid-elem">
        <h3>Format display</h3>
        <form id="display-format-input-form">
            <table>
                <tbody>
                    <tr>
                        <td>Background colour</td>
                        <td><input name="disp_background_colour" id="disp_background_colour" value="{{ bg_col }}"/></td>
                    </tr>
                    <tr>
                        <td>Font colour</td>
                        <td><input name="disp_font_colour" id="disp_font_colour" value="{{ txt_col }}"/></td>
                    </tr>
                    <tr>
                        <td>Font size</td>
                        <td>
                            <!-- <input type="number" id="font-size-range" name="disp_font_size" min="5" max="500" value="70"></td> -->
                            <input type="range" id="font-size-range" name="disp_font_size" min=5 max=500 value=70>
                        </td>
                        <td>
                            <input type="number" min=5 max=500 value=70 id="font-size-num"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Font</td>
                        <td><select name="disp_font" id="disp-font-select" onchange="sendToPreview(this);">
                                <option value="Helvetica" {{ helv_selected_font }}>Helvetica</option>
                                <option value="Times New Roman" {{ tnr_selected_font }}>Times New Roman</option>
                                <option value="Arial" {{ arial_selected_font }}>Arial</option>
                                <option value="Verdana" {{ verd_selected_font }}>Verdana</option>
                                <option value="Georgia" {{ geor_selected_font }}>Georgia</option>
                            </select>
                        </td>
                    </tr>

                </tbody>
            </table>
            <!-- <button type="submit">Submit formatting</button> -->
            <span id="new-format-success"></span>
        </form>
    </div>

    <div class="setup-grid-element" id="clear-session-input-grid-elem">
        <h3>Clear session data</h3>
        <form id="clear-session-input-form" enctype="multipart/form-data" action="javascript:;">
            <button type="submit">Clear current message log</button>
            <span id="cleared-session-success"></span>
        </form>
    </div>
</div>
